{% extends "base.html" %} {% block content%}
<main role="main" class="flex-shrink-0">
  <div class="container mt-5">
    <div class="row no-gutters">
      <div class="col-xs-12" style="height: 100px"></div>
      <div class="col col-lg-5 offset-lg-3 text-center">
        <h1 class="mt-5">Lektion</h1>
        <div id="div_training_set text-center">
          <select id="select_training_set" class="form-control center mt-5">
            <option value="0">Bitte wählen</option>
          </select>
        </div>
        <div class="col-xs-12" style="height: 50px"></div>
        <div id="div_ask_document" class="text-center"></div>
        <div class="col-xs-12" style="height: 50px"></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
