{% block content %}
  <h1>Pdf Read</h1>

  <table class="table">
    <thead>
        <tr>
            <th> Title</th>
            <th>PDF_FILE</th>
        </tr>
    </thead>
    <tbody>
        {% for pdf in pdfs %}
        <tr>
            <td>{{ pdf.title }}</td>
            <td><a href="{{ pdf.pdf_file.url }}">{{ pdf.pdf_file.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <h2>Fichier Audio</h2>
        {% if audio_file %}
            <audio controls>
                <source src="{% url 'generate_audio' pdf.id %}" type="audio/mpeg">
                Votre navigateur ne supporte pas la balise audio.
            </audio>
        {% else %}
            <p>Le fichier audio n'a pas pu être créé.</p>
        {% endif %}
  {% for page_num, text in pdf_content.items %}
    <h2>Page {{ page_num }}</h2>
    <p>{{ text }}</p>
    {% endfor %}
{% endblock %}