{% extends 'base.html' %} {% block content %}
<div
  class="container mt-5 full-height d-flex flex-column justify-content-center align-items-center"
>
  <div class="row justify-content-center w-100">
    <div class="col-md-6 mt-5">
      <div class="border p-3 rounded">
        <h2 class="text-center">Login</h2>
        <form method="POST" novalidate class="needs-validation text-center">
          {% csrf_token %} {% for fm in form %}
          <div class="form-group texte-left">{{ fm }}</div>
          {% endfor %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary mx-2">Login</button>
          </div>
        </form>
        {% if messages %} {% for message in messages %}
        <small {% if message.tags %} class="{{ message.tags }}" {% endif %}
          >{{ message }}</small
        >
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>

  <div class="row justify-content-center w-100 mt-5">
    <div class="col-md-6 col-lg-4 mt-5 mb-3 border p-3 rounded">
      <div class="d-flex separator align-items-center mb-3">
        <span class="border-top w-100"></span>
        <div class="or px-2">OR</div>
        <span class="border-top w-100"></span>
      </div>
      <div class="login-with-fb d-flex flex-column align-items-center">
        <div class="mb-3 text-center">Don't have an account?</div>
        <a href="/register" class="btn mt-5 btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
