{% extends "base.html" %} {% block content %}
<div class="mt-5 container">
  <h1 class="mt-5">Choose a section</h1>
  <div>
    <div
      class="p-3 mb-2 bg-light text-dark"
      style="
        position: relative;
        left: 80px;
        top: 90px;
        border-radius: 0 170px 0 100px;
        border-width: 3px;
      "
    >
      <span><a href="#" class="h3">A1-A2 vocabulary</a></span> <br />
      Are you a learner at A1 (elementary) or A2 (pre-intermediate) English
      level?<br />
      Learn new words and practise your vocabulary.
    </div>
    <img src="../media/img1_voc.png" style="height: 30%; width: 30%" />
  </div>
  <div class="mb-3">
    <div
      class="p-3 mb-2 bg-light text-dark"
      style="
        position: relative;
        left: 80px;
        top: 90px;
        border-radius: 0 200px 0 110px;
        border-width: 3px;
      "
    >
      <span><a href="#" class="h3">B1-B2 vocabulary</a></span> <br />
      Are you a learner at B1 (intermediate) or B2 (upper intermediate) English
      level?
    </div>
    <img
      src="../media/img2_voc.jpg"
      style="height: 30%; width: 30%; border-radius: 10px 10px 10px 10px"
    />
  </div>
</div>

{% endblock %}
