<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Digitalfabrik - Visueller Fachwortschatz-Trainer</title>
    <!-- bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="manifest" href="{% load static  %}" />
    <!-- file css-->
    <link href="src/static/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block extra_head %}{% endblock %}
  </head>
  <body class="d-flex flex-column h-100 min-vh-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        {% get_media_prefix as MEDIA_URL %}
        <!--  <img src="{{MEDIA_URL}}logo.png" alt="Logo" class="logo" />-->
        <a class="navbar-brand" href="#">Visueller Fachwortschatz-Trainer</a>
        {% if user.is_authenticated and not show_home_button%}
        <div class="ml-auto">
          <button type="submit" class="btn btn-dark border border-white">
            <a href="/logout" class="text-white text-decoration-none">Logout</a>
          </button>
        </div>
        {% endif %} {% if not user.is_authenticated and show_home_button %}
        <div class="ml-auto">
          <a href="{% url 'home' %}" class="btn btn-dark border border-white"
            >Home</a
          >
        </div>
        {% endif %} {% if not user.is_authenticated and not show_home_button %}
        <div class="ml-auto">
          <a
            href="/register"
            class="btn btn-dark text-white text-decoration-none border border-white"
            >Register</a
          >
          <a href="/login" class="btn btn-dark text-white border border-white"
            >Login</a
          >
        </div>
        {% endif %}
      </nav>
    </header>
    {% block content %}{% endblock content %}

    <footer
      class="footer py-1 navbar navbar-expand-md fixed-bottom navbar-dark bg-dark"
    >
      <div class="container mb-auto">
        <span class="text-muted"
          ><a href="https://tuerantuer.de/digitalfabrik"
            >Tür an Tür Digitalfabrik gGmbH</a
          ></span
        >
      </div>
    </footer>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/scripts.js"></script>
  </body>
</html>
